/* Raleway */
@font-face {
    font-family: "Raleway";
    src: url("../../assets/fonts/Raleway-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url("../../assets/fonts/Raleway-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url("../../assets/fonts/Raleway-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url("../../assets/fonts/Raleway-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
/* Raleway End */

/* Ubuntu Sans */
@font-face {
    font-family: "Ubuntu Sans";
    src: url("../../assets/fonts/UbuntuSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu Sans";
    src: url("../../assets/fonts/UbuntuSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
/* Ubuntu Sans End */

/* Roboto Slab */
@font-face {
    font-family: "Roboto Slab";
    src: url("../../assets/fonts/RobotoSlab-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Unbounded */
@font-face {
    font-family: "Unbounded";
    src: url("../../assets/fonts/Unbounded-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-primary: #000;
    --color-primary-02: rgba(0, 0, 0, 0.2);
    --color-primary-006: rgba(0, 0, 0, 0.06);
    --color-secondary: #fff;
    --color-bg-dark: #282828;
    --color-bg: #f5f5f5;
    --color-accent: #d13a1f;
    --color-accent-08: rgba(209, 58, 31, 0.8);
    --color-font: #141414;
    --color-font-04: rgba(20, 20, 20, 0.4);
    --color-secondary-font: #666;
    --color-royal-peacock: #27a6e5;
    --color-forest-maid: #48c95f;
    --color-slider-control: #494949;

    --font-primary: "Raleway", sans-serif;
    --font-secondary: "Ubuntu Sans", sans-serif;
    --font-tertiary: "Roboto Slab", sans-serif;
    --font-quaternary: "Unbounded", sans-serif;

    --font-size-title: 2rem;
    --font-size-subtitle: 1.5rem;
    --font-size-base: 1rem;
    --font-size-small: 0.875rem;
    --line-height: 130%;

    --transition-03: 0.3s ease-in-out;
    --bs-icon-link-transform: translate3d(0, -0.125rem, 0);

    --mb-size: 3.75rem;

    --margin-right: 0;

    @media (min-width: 1024px) {
        --mb-size: 6.25rem;
    }
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
button {
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    min-width: 360px;
    min-height: 100vh;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: var(--font-size-base);
    line-height: var(--line-height);
    color: var(--color-font);
    overflow-x: hidden;
}

body.lock-scroll {
    overflow: hidden;
    height: 100%;
    touch-action: none;
}

.header {
    margin-bottom: 2.5rem;

    @media (min-width: 768px) {
        margin-bottom: 1.25rem;
    }

    @media (min-width: 1440px) {
        margin-bottom: 1.85rem;
    }
}

.header__top {
    padding-top: 0.625rem;

    @media (min-width: 1024px) {
        padding: 1.875rem 0;
    }
}

.header__top .row {
    @media (min-width: 1024px) {
        flex-wrap: nowrap;
    }
}

.header__logo {
    margin-bottom: 0.3rem;
    line-height: 0.7;

    @media (min-width: 480px) {
        margin-bottom: 0.625rem;
        width: 345px;
        height: 58px;
    }

    @media (min-width: 1024px) {
        margin-bottom: 0;
    }
}

.header__contacts-list {
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-bg-dark);
    padding: 0.45rem 1rem 0.55rem;

    @media (min-width: 480px) {
        gap: 1.85rem;
        padding: 0.5rem 1rem 0.5rem;
    }

    @media (min-width: 768px) {
        padding: 0.5rem 1.25rem 0.5rem;
    }

    @media (min-width: 1024px) {
        flex-shrink: 1;
        justify-content: flex-end;
        gap: 1rem;
        background: none;
    }
}

.header__social-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    @media (min-width: 480px) {
        flex-direction: row;
    }

    @media (min-width: 1024px) {
        gap: 1rem;
    }
}

.header__phone-list {
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;

    @media (min-width: 480px) {
        flex-direction: row;
        gap: 1.875rem;
    }

    @media (min-width: 768px) {
        gap: 7.625rem;
    }

    @media (min-width: 1024px) {
        gap: 1rem;
    }
}

.header__phone {
    font-family: var(--font-secondary);
    color: var(--color-secondary);
    font-weight: 700;
    line-height: var(--line-height);
    white-space: nowrap;

    @media (min-width: 1024px) {
        color: var(--color-font);
    }
}

/* Dropdown menu */
.nav-bar {
    background-color: var(--color-bg);
    /* на 1023 нет кнопки меню но есть мобильное меню */
    @media (min-width: 1024px) {
        background-color: var(--color-bg-dark);
    }
}

.nav__list {
    flex-direction: column;
}

.nav__list--horizontal {
    @media (min-width: 1024px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.nav__item {
    position: relative;
    padding: 1rem 0;
    transition: background-color var(--transition-03);

    @media (min-width: 1024px) {
        padding: 0.5rem 0.4rem 0.5rem 0.5rem;
        color: var(--color-secondary);
    }

    @media (min-width: 1440px) {
        padding: 1rem 1.25rem;
    }
}

.nav__item.active {
    background-color: var(--color-secondary);
}

.nav__item:hover {
    background-color: var(--color-secondary);

    @media (min-width: 1024px) {
        background-color: inherit;
    }
}

.nav__item--parent:hover {
    @media (min-width: 1024px) {
        background-color: var(--color-secondary);
    }
}

.nav__item--parent:hover > .hover-accent,
.nav__item--parent.active > .hover-accent,
.nav__item--child:hover > .hover-accent,
.nav__item--child.active > .nav__link--child,
.hover-accent:hover use,
.hover-accent.active use {
    color: var(--color-accent);
    transition: color 0.2s ease;
}

.nav__link {
    position: relative;
    display: flex;
    align-items: center;
    /* padding-left: 1rem; */
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    gap: 0.25rem;
    font-weight: 500;

    @media (min-width: 1024px) {
        padding-left: 0;
    }
}

.first-level-icon {
    position: relative;
    display: inline-block;
    margin-left: 1.5rem;
    color: var(--color-font);
    rotate: 90deg;
    transform: translateX(-0.1rem);
    transition: rotate var(--transition-03), transform var(--transition-03);

    @media (min-width: 1024px) {
        margin-left: 0;
        color: var(--color-secondary);
    }
}

.first-level-icon.active {
    rotate: -90deg;
}

.nav__sublist {
    display: none;
    width: 100%;
    margin-top: 1rem;
    padding-left: 1.25rem;
    background-color: var(--color-secondary);

    @media (min-width: 1024px) {
        position: absolute;
        min-width: 268px;
        left: 0;
        margin-top: 0.5rem;
        margin-left: 0.15rem;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
        z-index: 100;
    }

    @media (min-width: 1440px) {
        margin-top: 1rem;
        /* margin-left: 1.2rem; */
    }
}

.nav__sublist.level-two-only {
    padding-bottom: 1rem;

    @media (min-width: 1024px) {
        min-width: 250px;
    }
}

.nav__sublist.open {
    display: block;
    margin-top: 0;

    @media (min-width: 1024px) {
        margin-top: 0.5rem;
    }

    @media (min-width: 1440px) {
        margin-top: 1rem;
    }
}

.nav__item--child {
    padding: 0.9rem 0 0;
    color: var(--color-font);
}

.nav__item--child.active .icon-open {
    display: none;
}

.nav__item--child.active .icon-close {
    display: inline-block;
}

.nav__item--special {
    padding: 1rem 0;
    color: var(--color-accent);
}

.nav__icon--open {
    margin-right: var(--margin-right); /* динамический 6-47rem */
    color: var(--color-font);

    @media (min-width: 1024px) {
        margin-right: 1rem;
    }
}

.icon-open.hidden,
.icon-close.hidden {
    display: none;
}

.icon-close {
    rotate: -90deg;

    @media (min-width: 1024px) {
        rotate: 0deg;
    }
}

.nav__sublist--nested {
    display: none;
    padding-left: 1rem;
    background-color: var(--color-secondary);

    @media (min-width: 1024px) {
        position: absolute;
        flex-wrap: wrap;
        align-content: space-between;
        width: 744px;
        height: 248px;
        top: 0;
        left: 244px;
        padding-bottom: 1rem;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
        z-index: 100;
    }
}

.nested-promotion {
    @media (min-width: 1024px) {
        width: 508px;
        margin-top: -2.2rem;
    }
}
.nested-support {
    @media (min-width: 1024px) {
        margin-top: -4.4rem;
    }
}

.nav__sublist--nested.open {
    display: flex;
}

.nav__sublist--nested .nav__item--child {
    padding: 0.75rem 2rem 0 0;
}

.nested-img {
    display: none;
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
    object-position: center;
    margin: auto 1rem;

    @media (min-width: 1024px) {
        display: block;
    }
}
/* Header END */

/* Services Stats */
.services-stats__wrap {
    padding-top: 1.5rem;

    @media (min-width: 768px) {
        padding-top: 0;
    }
}

.stats__item {
    padding: 1.5rem 0 2rem;
}

.stats__value {
    font-family: var(--font-quaternary);
    font-size: 2.8125rem;

    @media (min-width: 768px) {
        font-size: 4rem;
    }
}

/* About */
.about__top {
    flex-direction: column;
    padding-top: 2.5rem;
    margin-bottom: 2.5rem;
    gap: 1.75rem;

    @media (min-width: 480px) {
        margin-bottom: 3.5rem;
    }

    @media (min-width: 768px) {
        padding-top: 0.5rem;
        margin-bottom: 4rem;
        gap: 2.5rem;
    }

    @media (min-width: 1024px) {
        padding-top: 2.5rem;
    }

    @media (min-width: 1440px) {
        flex-direction: row;
        margin-bottom: 4.5rem;
        gap: 1.75rem;
    }
}

.about__content {
    @media (min-width: 768px) {
        padding-top: 7rem;
    }

    @media (min-width: 1024px) {
        padding-top: 5rem;
    }

    @media (min-width: 1440px) {
        width: 86%;
    }
}

.about__title-primary {
    position: relative;
    padding-top: 0.5rem;

    @media (min-width: 768px) {
        padding-top: 0;
    }

    @media (min-width: 1024px) {
        font-size: 2.8125rem;
    }
}

.about__title-primary::before {
    position: absolute;
    content: "";
    top: -70%;
    left: 4%;
    width: 263px;
    height: 263px;
    background-image: url("/assets/svg/icon-logo-about.svg");
    background-position: center;
    background-size: cover;

    @media (min-width: 768px) {
        top: -140%;
    }

    @media (min-width: 1024px) {
        top: -100%;
        left: 1%;
        width: 392px;
        height: 392px;
    }
}

.about__text-body {
    @media (min-width: 768px) {
        padding-left: 1rem;
    }

    @media (min-width: 1024px) {
        padding-left: 0;
    }
}

.counter-item {
    @media (min-width: 480px) {
        padding-top: 3.5rem;
    }

    @media (min-width: 768px) {
        padding-top: 5rem;
    }
}

.value-counter {
    font-family: var(--font-primary);
    font-size: 2.625rem;
    font-weight: 700;
}

.text-counter {
    text-align: center;
}

.counter-plus .icon {
    vertical-align: super;
    color: var(--color-accent);
}

.awards__inner {
    gap: 1.75rem;

    @media (min-width: 768px) {
        column-gap: 1rem;
        row-gap: 2rem;
    }
}

.award-item {
    @media (min-width: 768px) {
        width: 48%;
    }
}

.award-item__img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.award-subtitle {
    display: inline-block;
    font-family: var(--font-secondary);
    font-size: var(--font-size-subtitle);
    font-weight: 700;
    color: var(--color-accent);
}
/* About END*/

/* Portfolio */
.portfolio__inner {
    gap: 2rem;

    @media (min-width: 1024px) {
        gap: 3rem;
    }
}

.portfolio__text-body {
    text-align: center;

    @media (min-width: 1024px) {
        font-size: 20px;
    }
}

.text-typed {
    display: inline-block;
    font-weight: 500;
}

.typed-item {
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    text-decoration-line: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 1.5px;
    transition: opacity 0.4s ease-in-out, visibility 0s linear 0.4s;
}

.typed-item.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s ease-in-out;
}

.portfolio__block {
    gap: 1rem;
}

.portfolio-tabs__cards {
    max-width: 100%;
    overflow: hidden;
    column-count: 1;
    column-gap: 1.25rem;
}

.portfolio-card,
.portfolio-card--tall {
    position: relative;
    margin-bottom: 1rem;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.portfolio-card__img {
    width: 100%;
    height: 100%;
}

.portfolio-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.card-hover {
    position: absolute;
    inset: 0;
    padding: 1rem;
    background: var(--color-accent-08);
    color: var(--color-bg);
    gap: 0.25rem;
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.4s ease, opacity 0.4s ease, visibility 0.4s ease;
    transform-origin: center;
}

@media (hover: hover) {
    .portfolio-card:hover .card-hover,
    .portfolio-card--tall:hover .card-hover {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
}

.card-hover::before {
    content: "";
    position: absolute;
    inset: 0.5rem;
    border: 1px solid var(--color-bg);
    pointer-events: none;
}

.hover-title {
    font-weight: 600;
}

@media (min-width: 768px) {
    .portfolio-tabs__cards {
        column-count: 3;
        column-gap: 1.125rem;
    }

    .portfolio-card,
    .portfolio-card--tall {
        margin-bottom: 1.125rem;
    }

    .portfolio-card--tall {
        aspect-ratio: 2 / 3;
    }

    .disable-tall .portfolio-card--tall {
        aspect-ratio: 1 / 1;
    }

    .portfolio-tabs__cards.layout--narrow .portfolio-card,
    .portfolio-tabs__cards.layout--narrow .portfolio-card--tall {
        max-width: 280px;
    }

    .card-hover {
        padding: 2rem;
    }

    .card-hover::before {
        inset: 1rem;
    }

    .hover-title {
        font-size: 24px;
        line-height: 150%;
    }
}

@media (min-width: 1024px) {
    .portfolio__block {
        gap: 1.5rem;
    }

    .portfolio-tabs__cards {
        column-gap: 1.5rem;
    }

    .portfolio-card,
    .portfolio-card--tall {
        margin-bottom: 1.5rem;
    }

    .portfolio-tabs__cards.layout--narrow .portfolio-card,
    .portfolio-tabs__cards.layout--narrow .portfolio-card--tall {
        max-width: 320px;
    }
}

@media (min-width: 1440px) {
    .portfolio-tabs__cards {
        column-gap: 1.75rem;
    }

    .portfolio-card,
    .portfolio-card--tall {
        margin-bottom: 1.75rem;
    }
}
/* Portfolio END*/

/* Spacer */
.spacer-inner {
    position: relative;
    /* padding: 7rem 0 7rem; */
}

.spacer-inner__grow-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 68px;
    height: 68px;
    background-color: var(--color-primary);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: -1;
    pointer-events: none;
    transition: transform var(--transition-03);
}

.spacer-inner__icon {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: var(--color-primary);
    margin: 0 auto;
}

.icon-spacer-arrow {
    width: 24px;
    height: 24px;
    rotate: 90deg;
}

.spacer-fade-text,
.spacer-fade-svg {
    color: var(--color-font);
    fill: var(--color-font);
    transition: color var(--transition-03);
}

.spacer-fade-text.in-circle,
.spacer-fade-svg.in-circle {
    color: var(--color-secondary);
    fill: var(--color-secondary);
}
/* Spacer END*/

/* Tariffs */
.tariffs__title {
    width: 90%;
}

.tariff-card {
    padding-top: 3rem;

    @media (min-width: 768px) {
        padding-top: 3.5rem;
    }
}

.tariff-card__price {
    width: auto;
    flex-shrink: 0;
    color: var(--color-accent);
}
/* Tariffs END*/

/* Offices */
.offices-clients__wrap {
    padding-top: 1.5rem;

    @media (min-width: 768px) {
        padding-top: 2rem;
    }
}

.offices__inner {
    flex-direction: column;

    @media (min-width: 1440px) {
        flex-direction: row;
        align-items: center;
    }
}

/* .offices-info {
    flex-shrink: 0;
    width: 100%;
} */

.offices__text-body {
    color: var(--color-primary);

    @media (min-width: 1024px) {
        font-size: 20px;
    }
}

.offices__map {
    width: 100%;
    height: auto;
    object-fit: cover;

    @media (min-width: 1440px) {
        width: 60%;
    }
}
/* Offices END*/
