.slider {
    position: relative;
    margin-bottom: 2.5rem;
    padding: 3rem 0 1.625rem;
    background-image: url("../../assets/images/slider/slider-bg.png");
    background-position: right bottom;
    background-repeat: no-repeat;

    @media (min-width: 480px) {
        padding: 3.7rem 0 2.5rem;
        /* background-image: url("../../assets/images/slider/slider-bg-mobile.png"); */
        /* background-position: right bottom; */
    }

    @media (min-width: 768px) {
        padding: 0;
        background-image: url("../../assets/images/slider/slider-bg-desktop.png");
        background-size: 949px 340px;
        background-position: calc(100% + 170px) -5px;
    }

    @media (min-width: 1440px) {
        background-position: calc(100% - (100vw - 1210px) / 2 + 130px) 15px;
    }
}

.slider::before,
.slider::after {
    @media (min-width: 768px) {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 1.25rem;

        z-index: 1;
    }
}

.slider::before {
    top: 0;
    background-color: var(--color-secondary);
}

.slider::after {
    bottom: 0;
    background: linear-gradient(
        to right,
        var(--color-secondary) 0 1.875rem,
        transparent 1.875rem calc(100% - 1.875rem),
        var(--color-secondary) calc(100% - 1.875rem) 100%
    );

    @media (min-width: 1440px) {
        background: linear-gradient(
            to right,
            var(--color-secondary) 0 calc((100vw - 1170px) / 2),
            transparent calc((100vw - 1170px) / 2)
                calc(100vw - (100vw - 1170px) / 2),
            var(--color-secondary) calc(100vw - (100vw - 1170px) / 2) 100%
        );
    }
}

.slider .row {
    @media (min-width: 1024px) {
        position: relative;
    }
}

.slider__text-wrapper {
    min-height: 190px; /* для выравнивания текстовых блоков */
    justify-content: space-between;

    @media (min-width: 768px) {
        justify-content: center;
    }
}

.slider .row > .slider__text-wrapper {
    @media (min-width: 768px) and (max-width: 1023px) {
        padding-left: 2rem;
        padding-right: 0;
    }
}

.slider .row > .slider__image-wrapper {
    @media (min-width: 768px) {
        padding-left: 0;
    }
}

.slider__image-wrapper {
    position: relative;
    z-index: 20;

    @media (min-width: 1440px) {
        padding-right: 2rem;
    }
}

.slider__image-wrapper img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    z-index: 20;
}

/* Swiper */
.swiper-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;

    @media (min-width: 1024px) and (max-width: 1439px) {
        padding-left: 0.2rem;
    }
}

.swiper-slide,
.swiper-slide img,
.swiper-slide:focus,
.swiper-slide:active,
.swiper-slide img:focus,
.swiper-slide img:active {
    outline: none;
}

.swiper-slide::after {
    @media (min-width: 768px) {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1.25rem;
        background-color: var(--color-secondary);
        z-index: 1;
    }
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    z-index: 10;
    width: 2rem;
    height: 2rem;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.swiper-button-prev:focus,
.swiper-button-next:focus,
.swiper-button-prev:active,
.swiper-button-next:active {
    outline: none;
}

.slider-top-prev {
    top: 2rem;
    left: 1.875rem;

    @media (min-width: 768px) {
        top: 3.3rem;
        left: 1.65rem;
    }

    @media (min-width: 1024px) {
        left: 1.8rem;
    }

    @media (min-width: 1440px) {
        top: 3.65rem;
        left: 1rem;
    }
}

.slider-top-next {
    top: 2rem;
    left: 7.125rem;

    @media (min-width: 768px) {
        top: 3.3rem;
        left: 6.9rem;
    }

    @media (min-width: 1024px) {
        left: 7.15rem;
    }

    @media (min-width: 1440px) {
        top: 3.65rem;
        left: 5rem;
    }
}

.swiper-button-prev .icon,
.swiper-button-next .icon {
    width: 2rem;
    height: 2rem;
    color: var(--color-slider-control);
    transition: color var(--transition-03);
}

.swiper-button-prev .icon {
    transform: rotate(180deg);
}

@media (hover: hover) {
    .swiper-button-prev:hover .icon,
    .swiper-button-next:hover .icon {
        color: var(--color-accent);
    }
}

.swiper-pagination-bullet {
    width: 0.75rem;
    height: 0.75rem;
    background-color: var(--color-primary-006);
    border-radius: 50%;
    opacity: 0.5;
    transition: background-color var(--transition-03),
        transform var(--transition-03);
}

.swiper-pagination-bullet-active {
    background-color: var(--color-accent);
    opacity: 1;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    /* bottom: 1.2rem; */
    bottom: 0.25rem;

    @media (min-width: 480px) {
        bottom: 1.1rem;
    }

    @media (min-width: 768px) {
        bottom: 2.4rem;
    }

    @media (min-width: 1024px) {
        bottom: 2.3rem;
    }
}

.swiper-horizontal
    > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: calc(50% - 1rem);

    @media (min-width: 768px) {
        left: calc(50% - 1.2rem);
    }
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
    transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    transform: scale(0);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 4px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    display: none;
}
/* Swiper End */

/* Clients-slider Swiper*/
.clients-slider__inner {
    width: 100%;
}

.clients-slider__header {
    padding: 20px 0;

    @media (min-width: 1024px) {
        padding: 30px 0;
    }
}
.arrow-prev,
.arrow-next {
    left: auto;
    right: auto;
    cursor: pointer;
    z-index: 100;
}

.arrow-prev {
    right: 4.5rem;

    @media (min-width: 480px) {
        right: 5rem;
    }
}

.arrow-next {
    right: 1rem;
}

.client-slide {
    width: 150px;
    height: 100px;
}

.client-slide img {
    display: block;
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.client-slide,
.client-slide img,
.client-slide:focus,
.client-slide:active,
.client-slide img:focus,
.client-slide img:active,
.clients-slider .swiper-slide:focus,
.clients-slider .swiper-slide:focus-visible {
    outline: none;
}

.clients-slider .swiper-slide,
.clients-slider .swiper-slide * {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}
/* Clients-slider Swiper END */
